<%= simple_form_for(@tutorial) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :slug %>
    <%= f.input :intro %>
    <%= f.input :content, input_html: { class: 'ckeditor' } %>
    <%= f.input :image %>
    <%= f.input :published %>
    <%= f.input :tag_list, input_html: { value: @tutorial.tag_list.to_s } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
