

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			  <h1><%= @page_title %></h1>
			  <p class="lead"><%= @page_subtitle %></p>
			  <hr class="m-y-md">
			  <% if controller.controller_name == "tutorials" && controller.action_name == "show" %>
			  <div class="row">
			  	<div class="col-lg-8">
			  		<p>Author: 
			  			<%= link_to author_path(@author), class: 'btn btn-default' do %> 
			  				<i class="fa fa-user"></i> <%= @author.full_name %>
			  			<% end %>


			  			<a href="#comments" class="btn btn-default"><i class="fa fa-comments"></i> <%= pluralize(@tutorial.comments.count, 'comment') %></a></p> 
			  		<p>Tags:
			  		<% @tutorial.tags.each do |tag| %>
			  			<%= link_to tag, tutorials_path(tag: tag.name), class: 'btn btn-default' %>
			  		<% end %>
			  		</p>
			  	</div>
			  	<div class="col-lg-4">
						<p>Last updated: <%= @tutorial.updated_at.strftime('%d %B %Y') %></p>
			  		<!-- <a href="/" class="btn btn-default"><i class="fa fa-thumbs-up"></i> Like</a> -->
			  		<a href="/" class="btn btn-default"><i class="fa fa-download"></i> Download</a> 
			  		<a href="/" class="btn btn-default"><i class="fa fa-share"></i> Share</a>
			  		<a href="/" class="btn btn-default"><i class="fa fa-github"></i> Github</a>
			  	</div>
			  </div>

			  <% end %>
			</div>
			<!-- <div class="col-md-4">
				
			</div> -->
		</div>
	</div>
</div>